<h2 id="title">Welcome to Ember</h2>
	{{easy-pie-chart
	    class="easy-pie main-pie"
	    percent="70"
	    trackColor='rgba(0,255,255,0.2)'
	    scaleColor='rgba(255,0,255,0.5)'
	    barColor='rgba(255,255,0,0.7)'
	    lineWidth=7
	    lineCap='butt'
	    size=148
	}}
{{outlet}}
